/**
 * @type {{classname}}
 * {{#lambda.indented_star_1}}{{{unescapedDescription}}}{{/lambda.indented_star_1}}
 * @export
 */
export type {{classname}} = 
{ type: 
  {{#discriminator.mappedModels}}
    '{{mappingName}}'{{^-last}} | {{/-last}}
  {{/discriminator.mappedModels}}
  {{^discriminator.mappedModels}}
    {{#oneOf}}'{{.}}'{{^-last}} | {{/-last}}{{/oneOf}}
  {{/discriminator.mappedModels}}
} 
& ({{#oneOf}}{{{.}}}{{^-last}} | {{/-last}}{{/oneOf}});
